<div class="well salonNav">
  <center>
    <ul class= "navigation">
      <li><a href="/">Seventh Eye</a></li>
      <li>|</li>
      <li><a href="/stylists">Stylist Roster</a></li>
      <li>|</li>
      <li><a href="/stylists/new">Add Stylist</a></li>
      <li>|</li>
      <li><a href="/clients">Clients</a></li>
      <li>|</li>
      <li><a href="/clients/new">Add Client</a></li>
    </ul>
  </center>
</div>
