@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h1>Clients</h1>
</div>
<div class="container text-center">
  <h1>New Client</h1>
  <form action="/clients" method="post">
    <input type="text" name="firstName"></input>
    <input type="text" name="lastName"></input>
    <select class="form-dropdown" name="stylistId" required>
      @foreach (var stylist in Model)
      {
        <option name="@stylist.GetStylistId()" value="@stylist.GetStylistId()">@stylist.GetStylistFirstName() @stylist.GetStylistLastName()</option>
      }
    </select>

    </select>
    <button type="submit">Add a new CLIENT</button>
  </form>

  <p><a href="/">Go Back</a></p>
  <p><a href="/stylists">STYLIST List</a></p>

</div>
