.navigation li {
  display: inline;
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
}

html {
  background-image: url("../img/bg.png");
}

.jumbotron {
  margin-top: 10%;
}

a {
  color: #F582AD;
}
