@{
    Layout = "_Layout";
}


<div class="jumbotron text-center ">
  <center>
    <img src="https://media.giphy.com/media/3o6ZsU1EvGpieCVOKY/giphy.gif" alt="">
    <h1>SEVENTH EYE SALON</h1>
  </center>
</div>
@{
  Html.RenderPartial("_DeleteStylists");
}
