@{
    Layout = "_Layout";
}


<div class="jumbotron text-center">
    <h1>Welcome to SALON</h1>
</div>
<div class="container text-center">

    <h4><a href="stylists/new">Add a new STYLIST</a><h4>
      <h4><a href="clients/new">Add a new CLIENT</a><h4>
    <h3><a href="/stylists">Click here for STYLIST list</a></h3>
</div>
