@{
    Layout = "_Layout";
}

<h1>New Stylist</h1>
<form action="/stylists" method="post">
  <input type="text" name="firstName"></input>
  <input type="text" name="lastName"></input>
  <button type="submit">Add a new STYLIST</button>
</form>

<p><a href="/">Go Back</a></p>
<p><a href="/stylists">STYLIST List</a></p>
