@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h1>Stylists</h1>
</div>
<div class="container text-center">
  <h1>New Stylist</h1>
  <form action="/stylists" method="post">
    <input type="text" name="firstName"></input>
    <input type="text" name="lastName"></input>
    <button type="submit">Add a new STYLIST</button>
  </form>
  <bR><br>
</div>
